@charset "utf-8";

/*
* Title                   : Thumbnail Scroller (with PHP Admin)
* Version                 : 1.1
* File                    : login-style.css
* File Version            : 1.0
* Created / Last Modified : 10 December 2012
* Author                  : Dot on Paper
* Copyright               : © 2012 Dot on Paper
* Website                 : http://www.dotonpaper.net
* Description             : Thumbnail Scroller - Login Style.
*/

body{
    background: #ffffff;
}

/* BEGIN LOGIN PANEL */

#DOPTS-wrapper{
    overflow: hidden;
}

.DOPTS-clear{
    clear: both;
}

#DOPTS_Login{
    background: #f0f0f0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f0f0f0');
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #fdfdfd,  #f0f0f0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    -moz-box-shadow: 0 0 10px 1px #cccccc;
    -webkit-box-shadow: 0 0 10px 1px #cccccc;
    box-shadow: 0 0 10px 1px #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    width: 300px;
    display: none;
}

#DOPTS_Login h1{    
    color: #aaaaaa;
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    padding: 20px 20px 10px 20px;
}

#DOPTS_Login form{
    width: 300px;
}

#DOPTS_Login label{
    color: #aaaaaa;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0 20px;
}

#DOPTS_Login input[type="text"], #DOPTS_Login input[type="password"]{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    color: #333333;
    font-size: 12px;
    margin: 5px 0 0 20px;
    padding: 5px;
    width: 248px;
}

#DOPTS_Login input:focus{
    border: 1px solid #c1d72e;
}

#DOPTS_Login input:disabled{
    background: #f2f2f2;
    color: #d0d0d0;
}

#DOPTS_Login input[type="submit"]{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#ececec'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#ececec)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #dcdcdc,  #ececec); /* for firefox 3.6+ */ 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    color: #aaaaaa;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin: 20px 20px 20px 0;
    padding: 5px 10px;
    overflow: visible;
}

#DOPTS_Login input[type="submit"]:hover{
    border: 1px solid #c1d72e;
}

#DOPTS_Login input[type="submit"]:disabled{
    background: #e0e0e0;
    border: 1px solid #d0d0d0;
    color: #d0d0d0;
}

#DOPTS_Login input[type="submit"]:disabled:hover{
    background: #e0e0e0;
    border: 1px solid #d0d0d0;
    color: #d0d0d0;
}

/* Info */

#DOPTS_Info{
    background: #f0f0f0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#fdfdfd');
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fdfdfd));
    background: -moz-linear-gradient(top,  #f0f0f0,  #fdfdfd);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    -moz-box-shadow: 0 0 10px 1px #cccccc;
    -webkit-box-shadow: 0 0 10px 1px #cccccc;
    box-shadow: 0 0 10px 1px #cccccc;
    margin: 20px auto 0 auto;
    padding: 10px 20px 10px 20px;
    width: 260px;
    display:none;    
}

#DOPTS_Info .info_icon{
    float: left;
}

#DOPTS_Info .loader{
    display: none;
}

#DOPTS_Info .info_message{
    color: #aaaaaa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1em;
    min-height: 16px;
    margin: 0 0 0 30px;
    padding: 2px 0 0 0;
}

#DOPTS_Info .info_message .processing, #DOPTS_Info .info_message .success, #DOPTS_Info .info_message .error{
    display: none;
}

/* END LOGIN PANEL */